<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout}">

<head>
    <meta charset="UTF-8">
    <title>パスワード変更</title>
</head>

<body>
    <div layout:fragment="content">
        <h2>パスワード変更</h2>

        <form th:action="@{/profile/edit-password}" th:object="${passwordForm}" method="post">
            <!-- エラーメッセージ -->
            <div th:if="${#fields.hasErrors('*')}" style="color: red;">
                入力内容に誤りがあります。修正してください。
            </div>
            <div>
                <label>現在のパスワード：</label><br>
                <input type="password" th:field="*{currentPassword}" required>
                <div th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" style="color: red;">
                </div>
            </div>

            <div>
                <label>新しいパスワード：</label><br>
                <input type="password" th:field="*{newPassword}" required>
                <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" style="color: red;"></div>
            </div>

            <div>
                <label>新しいパスワード（確認）：</label><br>
                <input type="password" th:field="*{confirmPassword}" required>
                <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red;">
                </div>
            </div>

            <button type="submit">変更</button>
        </form>

        <br>
        <a th:href="@{/profile}">プロフィールに戻る</a>
    </div>
</body>

</html>