<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー一覧</title>
</head>

<body>
    <h1>ユーザー一覧</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>権限</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
        </tr>
    </table>

    <a th:href="@{/}">
        トップに戻る
    </a>
</body>

</html>