<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ダッシュボード</title>
</head>

<body>
    <h1>ダッシュボード</h1>
    <p>こんにちは、<span sec:authentication="principal.name"></span>さん。</p>
    <p>あなたの権限 =
        <!-- 管理者にのみ表示 -->
        <span sec:authorize="hasRole('ADMIN')">管理者</span>
        <!-- 一般ユーザーにのみ表示 -->
        <span sec:authorize="hasRole('USER')">一般ユーザー</span>
    </p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" name="logout" value="ログアウト" />
    </form>
</body>

</html>